<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.hospital.dao.INurseDao">
    <sql id="nurseBody">
        Nurse.name as nur_name,
        Nurse.employeeId as nur_id,
        Nurse.position as nur_position
    </sql>
    <select id="getById" resultMap="nurseResultMap">
        SELECT
        <include refid="nurseBody"/>,
        <include refid="com.solvd.hospital.dao.IDepartmentDao.departmentBody"/>
        FROM Nurse
        JOIN Departments ON Nurse.Departments_id = Departments.id
        WHERE Nurse.employeeId = #{id}
    </select>
    <update id="update">
        UPDATE Nurse SET name=#{name}, position=#{position} WHERE employeeId=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM nurse WHERE employeeId = #{id}
    </delete>
    <insert id="insert">
        INSERT INTO Nurse (employeeId, name, position, Departments_id)
        VALUES (#{id}, #{name} , #{position} ,#{department.id})
    </insert>
    <resultMap id="nurseResultMap" type="com.solvd.hospital.model.Nurse">
        <id property="id" column="nur_id"/>
        <result property="name" column="nur_name"/>
        <result property="position" column="nur_position"/>
        <collection property="department" resultMap="com.solvd.hospital.dao.IDepartmentDao.DepResultMap"/>
    </resultMap>
</mapper>