<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.hospital.db.mapper.NurseMapper">
    <select id="selectNurseById" resultMap="nurseResultMap">
        SELECT N.name as nur_name, N.employeeId as nur_id, N.position as nur_position,
        Dep.id as dep_id, Dep.name as dep_name
        FROM Nurse N
        JOIN Departments Dep ON N.Departments_id = Dep.id
        WHERE N.employeeId = #{id}
    </select>
    <update id="updateNurse">
        UPDATE Nurse SET name=#{name}, position=#{position} WHERE employeeId=#{id}
    </update>
    <delete id="deleteNurseById">
        DELETE FROM nurse WHERE employeeId = #{id}
    </delete>
    <insert id="saveNurseToDB">
        INSERT INTO Nurse (employeeId, name, position, Departments_id)
        VALUES (#{id},#{name},#{position},#{department.id})
    </insert>
    <resultMap id="nurseResultMap" type="com.solvd.hospital.model.Nurse">
        <id property="id" column="nur_id"/>
        <result property="name" column="nur_name"/>
        <result property="position" column="nur_position"/>
        <collection property="department" resultMap="com.solvd.hospital.db.mappers.DepartmentMapper.DepResultMap"/>
    </resultMap>
</mapper>