<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.hospital.db.mappers.PatientMedicalChartMapper">
    <select id="selectPatientMedicalChartById" resultMap="pmcResultMap">
        SELECT reportId as pmc_id, diagnosis as pmc_diagnosis, dateVisted as pmc_date
        FROM PatientMedicalChart WHERE reportId=#{id}
    </select>
    <update id="updatePatientMedicalChart">
        UPDATE PatientMedicalChart SET diagnosis=#{diagnosis}, dateVisted=#{date} WHERE reportId=#{id}
    </update>
    <delete id="deletePatientMedicalChartById">
        DELETE FROM PatientMedicalChart WHERE reportId=#{id}
    </delete>
    <insert id="savePatientMedicalChartToDB">
        INSERT INTO PatientMedicalChart (diagnosis, dateVisted, reportId)
        VALUES ( #{diagnosis},  #{date}, #{id})
    </insert>
    <resultMap id="pmcResultMap" type="com.solvd.hospital.model.patient.PatientMedicalChart">
        <id property="id" column="pmc_id"/>
        <result property="diagnosis" column="pmc_diagnosis"/>
        <result property="date" column="pmc_date"/>
    </resultMap>
</mapper>