<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.hospital.dao.IPatientDao">
    <sql id="patientBody">
        Patient.id as patient_id,
        Patient.name as patient_name,
        Patient.address as patient_address,
        Patient.phoneNumber as patient_number
    </sql>
    <select id="getById" resultMap="patientResultMap">
        SELECT
        <include refid="patientBody"/>,
        <include refid="com.solvd.hospital.dao.IDoctorDao.doctorBody"/>,
        <include refid="com.solvd.hospital.dao.IDepartmentDao.departmentBody"/>,
        <include refid="com.solvd.hospital.dao.INurseDao.nurseBody"/>,
        <include refid="com.solvd.hospital.dao.IInsuranceDao.insuranceBody"/>,
        <include refid="com.solvd.hospital.dao.IPatientMedicalChartDao.patientMedicalChartBody"/>
        FROM Patient P
        JOIN Doctor ON Patient.Doctor_employeeId = Doctor.employeeId
        JOIN Nurse ON Patient.Nurse_employeeId = Nurse.employeeId
        JOIN Departments ON Doctor.Departments_id = Departments.id OR Nurse.Departments_id = Departments.id
        JOIN Insurance ON Patient.Insurance_id = Insurance.id
        JOIN PatientMedicalChart ON PatientMedicalChart.reportId = Patient.PatientMedicalChart_reportId
        WHERE Patient.id= #{id}
    </select>
    <update id="update">
        UPDATE Patient SET name=#{name}, address=#{address}, phoneNumber=#{phoneNumber} WHERE id=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM Patient WHERE id = #{id}
    </delete>
    <insert id="insert">
        INSERT INTO Patient (name, Doctor_employeeId, PatientMedicalChart_reportId, Nurse_employeeId, Insurance_id, id, address, phoneNumber)
        VALUES (#{name}, #{doctor.id}, #{chart.id}, #{nurse.id}, #{insurance.id}, #{id}, #{address}, #{phoneNumber})
    </insert>
    <resultMap id="patientResultMap" type="com.solvd.hospital.model.patient.Patient">
        <id property="id" column="patient_id"/>
        <result property="name" column="patient_name"/>
        <result property="address" column="patient_address"/>
        <result property="phoneNumber" column="patient_number"/>
        <collection property="doctor" resultMap="com.solvd.hospital.dao.IDoctorDao.doctorResultMap"/>
        <collection property="nurse" resultMap="com.solvd.hospital.dao.INurseDao.nurseResultMap"/>
        <collection property="insurance" resultMap="com.solvd.hospital.dao.IInsuranceDao.insuranceResultMap"/>
        <collection property="chart" resultMap="com.solvd.hospital.dao.IPatientMedicalChartDao.pmcResultMap"/>
    </resultMap>
</mapper>